[submodule "CGRA-Mapper"]
	path = CGRA-Mapper
	url = git@github.com:tancheng/CGRA-Mapper
[submodule "CGRA-Benchmark"]
	path = CGRA-Benchmark
	url = git@github.com:tancheng/CGRA-Benchmark
[submodule "VectorCGRA"]
	path = VectorCGRA
	url = git@github.com:tancheng/VectorCGRA.git
[submodule "mlir-cgra"]
	path = mlir-cgra
	url = git@github.com:tancheng/mlir-cgra.git
[submodule "tools/mflowgen"]
	path = tools/mflowgen
	url = git@github.com:tancheng/mflowgen.git
[submodule "tools/sv2v"]
	path = tools/sv2v
	url = git@github.com:zachjs/sv2v.git
[submodule "tools/cacti"]
	path = tools/cacti
	url = git@github.com:tancheng/cacti.git
[submodule "tools/OpenROAD-flow-scripts"]
	path = tools/OpenROAD-flow-scripts
	url = git@github.com:The-OpenROAD-Project/OpenROAD-flow-scripts.git
